.App {
  text-align: center;
  min-height: 100vh;
  /* background-image: linear-gradient(
    to right,
    #ff8177 0%,
    #ff867a 0%,
    #ff8c7f 21%,
    #f99185 52%,
    #cf556c 78%,
    #b12a5b 100% */
  /* ); */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

p {
  min-height: 10vh;
}
.card {
  width: 50%;
}

.about {
  width: 100%;
}
.card-text {
  font-size: 35px;
}

.card-title {
  font-size: 50px;
}

.order-list {
  width: 50%;
  padding: 10px 50px 10px 400px;
  margin: 0px;
}
